.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.googleButton button img {
  height: 25px;
  width: auto;
}
.register {
  border-radius: 10px;
  border: 2px solid #fbbc05;
  position: absolute;
  width: 100px;
  height: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  background-color: transparent !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.register:hover {
  background-color: #fbbc05 !important;
  color: white;
}
.registerGoogle {
  border: 2px solid #fbbc05;
  line-height: 25px;
  background-color: transparent !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.registerGoogle:hover {
  background-color: #fbbc05 !important;
  color: white;
}
